// main: style.sass

body
    height: 100%
nav
    font-size: 14px

footer
    color: rgb(246, 246, 246)
    padding: 1.5em
    text-align: center
    display: inline !important

    svg
        margin-left: 1em
        margin-right: 1em
